<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/tournament','list']" class="list">Tournament List</a></li>
    </ul>
</div>
<div id="persist-tournament" class="content scaffold-edit" role="main">
    <h1>{{create ? "Create" : "Edit"}} Tournament</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form #tournamentPersist="ngForm" name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="Name" required="" name="name" id="name" [(ngModel)]="tournament.name"/>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput required name="date" [matDatepicker]="picker" placeholder="Tournament Date" [ngModel]="tournament.date" (ngModelChange)="dateChanged($event)" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field floatPlaceholder="always">
                    <mat-select required placeholder="Select a Weight" [(ngModel)]="tournament.weight" name="weight">
                        <mat-option *ngFor="let weight of weightList" [value]="weight" >{{weight.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="fieldcontain">
                <mat-checkbox name="genderRestricted" [(ngModel)]="tournament.genderRestricted">Gender Restricted</mat-checkbox>
            </div>
            <div class="fieldcontain">
                <mat-form-field floatPlaceholder="always">
                    <mat-select [disabled]="!tournament.genderRestricted" placeholder="Select a Gender" [(ngModel)]="tournament.gender" name="gender">
                        <mat-option *ngFor="let gender of genderList" [value]="gender" >{{gender}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field floatPlaceholder="always">
                    <mat-select required placeholder="Best Of" [(ngModel)]="tournament.bestOf" name="bestOf">
                        <mat-option [value]="3" >3 sets</mat-option>
                        <mat-option [value]="5" >5 sets</mat-option>
                        <mat-option [value]="7" >7 sets</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field floatPlaceholder="always">
                    <mat-select required placeholder="Groups Of" [(ngModel)]="tournament.groupsOf" name="groupsOf">
                        <mat-option [value]="3" >3 players</mat-option>
                        <mat-option [value]="4" >4 players</mat-option>
                        <mat-option [value]="5" >5 players</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="fieldcontain">
                <mat-checkbox name="includeGroupPhase" [(ngModel)]="tournament.includeGroupPhase">Include Group Phase</mat-checkbox>
            </div>
            <div class="fieldcontain required">
                <mat-form-field floatPlaceholder="always">
                    <mat-select required placeholder="Select a Category" [(ngModel)]="tournament.category" name="category">
                        <mat-option *ngFor="let category of categoryList" [value]="category" >{{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="showFederationSelect" class="fieldcontain required">
                <mat-form-field floatPlaceholder="always">
                    <mat-select required placeholder="Select a Federation" [(ngModel)]="tournament.federation" name="federation">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let federation of federationList" [value]="federation" >{{federation.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </fieldset>
        <fieldset class="buttons">
            <button mat-raised-button color="primary" [disabled]="!tournamentPersist.form.valid"><span translate>{{create ? 'general.forms.create' : 'general.forms.update'}}</span></button>
        </fieldset>
    </form>
</div>