td {
    border: 1px solid black;
}

.match-set-value {
    width: 40px;
}

.match-number-odd {
    background-color: lightgray;
}

.match-number-even {
    background-color: darkgray;
}

.match-row-even {
    background-color: lightgray;
}

/* BRACKET STYLING */
/deep/ div.jQBracket .flagContainer {
   float: left;
   line-height: 1.5;
   margin-right: 5px;
}

/deep/ div.jQBracket .nameContainer {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/deep/ div.jQBracket .clubContainer {
   display: inline-block;
   width: 70px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
