<div id="show-part" class="content scaffold-show" role="main">
    <h1>Tournament Game Plan</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date</th>
            <th>Weight</th>
            <th>Gender Restricted</th>
            <th>Gender</th>
            <th>Federation</th>
            <th>Category</th>
            <th>Best Of</th>
            <th>Groups Of</th>
            <th>Play Groups Phase</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span>{{tournament.id}}</span>
                </td>
                <td>
                    <span>{{tournament.name}}</span>
                </td>
                <td>
                    <span>{{tournament.date | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
                </td>
                <td>
                    <span *ngIf="tournament.weight">{{tournament.weight.name}}</span>
                </td>
                <td>
                    <span>{{tournament.genderRestricted}}</span>
                </td>
                <td>
                    <span>{{tournament.gender}}</span>
                </td>
                <td>
                    <a *ngIf="tournament.federation">{{tournament.federation.name}}</a>
                </td>
                <td>
                    <span *ngIf="tournament.category">{{tournament.category.name}}</span>
                </td>
                <td>
                    <span>{{tournament.bestOf}}</span>
                </td>
                <td>
                    <span>{{tournament.groupsOf}}</span>
                </td>
                <td>
                    <span>{{tournament.includeGroupPhase}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="edit" [routerLink]="['/tournament', 'edit', tournament.id]">Edit</a>
    <a class="show" [routerLink]="['/tournament', 'show', tournament.id]">Show</a>
    <button *ngIf="tournament.includeGroupPhase" type="button" (click)="generateGroups()" class="btn btn-success btn-s">
        <span class="fa fa-users"></span> Generar Grupos
    </button>
    <button type="button" (click)="generateDraw()" class="btn btn-success btn-s">
        <span class="fa fa-filter"></span> Generar Llave</button>
</div>

<div *ngIf="groupsAvailable" id="list-group" class="content scaffold-list" role="main">
    HAY GRUPOS ({{total | async}})

    <md-tab-group (selectChange)="viewContent($event)" >
        <md-tab *ngFor="let tournamentGroup of tournamentGroups | async" [label]="'tournament.gameplan.grouptab' | translate:{number: tournamentGroup.number}"></md-tab>
        <md-tab [label]="'tournament.gameplan.brackettab' | translate"></md-tab>
    </md-tab-group>
</div>

<div *ngIf="!groupsAvailable" id="empty-list-group" class="content scaffold-list" role="main">
    NO GROUPS AVAILABLE
</div>
