<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a class="list" [routerLink]="['/tournament', 'list']" class="list">Tournament List</a></li>
        <li><a class="create" [routerLink]="['/tournament', 'create']" class="create">New Tournament</a></li>
    </ul>
</div>
<div id="show-part" class="content scaffold-show" role="main">
    <h1>{{ 'tournament.show.title' | translate}}</h1>
    <a class="edit" [routerLink]="['/tournament', 'edit', tournament.id]">Edit</a>
    <button type="button" (click)="destroy()">Delete</button>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date</th>
            <th>Weight</th>
            <th>Gender Restricted</th>
            <th>Gender</th>
            <th>Federation</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span>{{tournament.id}}</span>
                </td>
                <td>
                    <span>{{tournament.name}}</span>
                </td>
                <td>
                    <span>{{tournament.date | date:'yyyy-MM-dd'}}</span>
                </td>
                <td>
                    <span *ngIf="tournament.weight">{{tournament.weight.name}}</span>
                </td>
                <td>
                    <span>{{tournament.genderRestricted}}</span>
                </td>
                <td>
                    <span>{{tournament.gender}}</span>
                </td>
                <td>
                    <a *ngIf="tournament.federation">{{tournament.federation.name}}</a>
                </td>
                <td>
                    <span *ngIf="tournament.category">{{tournament.category.name}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="list-player" class="content scaffold-list" role="main">

    <mat-tab-group (selectChange)="viewPlayerType($event)">
        <mat-tab label="{{ 'tournament.show.players.title.signed' | translate}}"></mat-tab>
        <mat-tab label="{{ 'tournament.show.players.title.unsigned' | translate}}"></mat-tab>
    </mat-tab-group>

    <div>
        <mat-input-container floatPlaceholder="never">
            <input matInput #terms (keyup)="search(terms.value)" placeholder="Filter users">
        </mat-input-container>
    </div>

    <h1>Player List ({{playerDatasource.total | async}})</h1>

    <mat-table #table [dataSource]="playerDatasource" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a [routerLink]="['/player','show',row.id]">{{row.id}}</a>
                <button (click)="signOffPlayer(row)" *ngIf="playerDatasource.playerType == 0" type="button" class="btn btn-danger btn-s">
                    <span class="fa fa-user-times"></span> {{ "tournament.show.players.signoff.button" | translate }}
                </button>
                <button (click)="signUpPlayer(row)" *ngIf="playerDatasource.playerType == 1" type="button" class="btn btn-success btn-s">
                    <span class="fa fa-user-plus"></span> {{ "tournament.show.players.signup.button" | translate }}
                </button>
            </mat-cell>
        </ng-container>

        <!-- First Name -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
        </ng-container>

        <!-- Last Name -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>

        <!-- DNI Column -->
        <ng-container matColumnDef="dni">
            <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.dni}} </mat-cell>
        </ng-container>

        <!-- Club Column -->
        <ng-container matColumnDef="club">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Club </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.club}} </mat-cell>
        </ng-container>

        <!-- Birth Column -->
        <ng-container matColumnDef="birth">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Birth </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.birth | date:'yyyy-MM-dd'}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                  [length]="playerDatasource.total | async"
                  [pageIndex]="0"
                  [pageSize]="10"
                  [pageSizeOptions]="[10, 20, 30, 50, 100]">
    </mat-paginator>
</div>
<div role="main">
    <button [disabled]="!playerDatasource.gamePlanAvailable" (click)="goToGameplan()" *ngIf="playerDatasource.playerType == 0" type="button" class="btn btn-success btn-s">
        <span class="fa fa-thumbs-o-up"></span> {{ "tournament.show.gameplan" | translate }}
    </button>
</div>
