<div id="show-part" class="content scaffold-show" role="main">
    <h1>Tournament Game Plan</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date</th>
            <th>Weight</th>
            <th>Gender Restricted</th>
            <th>Gender</th>
            <th>Federation</th>
            <th>Category</th>
            <th>Best Of</th>
            <th>Groups Of</th>
            <th>Play Groups Phase</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span>{{tournament.id}}</span>
                </td>
                <td>
                    <span>{{tournament.name}}</span>
                </td>
                <td>
                    <span>{{tournament.date | date:'yyyy-MM-dd'}}</span>
                </td>
                <td>
                    <span *ngIf="tournament.weight">{{tournament.weight.name}}</span>
                </td>
                <td>
                    <span>{{tournament.genderRestricted}}</span>
                </td>
                <td>
                    <span>{{tournament.gender}}</span>
                </td>
                <td>
                    <a *ngIf="tournament.federation">{{tournament.federation.name}}</a>
                </td>
                <td>
                    <span *ngIf="tournament.category">{{tournament.category.name}}</span>
                </td>
                <td>
                    <span>{{tournament.bestOf}}</span>
                </td>
                <td>
                    <span>{{tournament.groupsOf}}</span>
                </td>
                <td>
                    <span>{{tournament.includeGroupPhase}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="edit" [routerLink]="['/tournament', 'edit', tournament.id]">Edit</a>
    <a class="show" [routerLink]="['/tournament', 'show', tournament.id]">Show</a>
    <button *ngIf="tournament.includeGroupPhase" type="button" (click)="generateGroups()" class="btn btn-success btn-s">
        <span class="fa fa-users"></span> Generar Grupos
    </button>
    <button type="button" (click)="generateDraw()" class="btn btn-success btn-s">
        <span class="fa fa-filter"></span> Generar Llave
    </button>
</div>

<div *ngIf="groupsAvailable" id="list-group" class="content scaffold-list" role="main">
    <md-tab-group [(selectedIndex)]="selectedTab" (selectChange)="viewContent($event)" >
        <md-tab *ngFor="let tournamentGroup of tournamentGroups | async" [label]="'tournament.gameplan.grouptab' | translate:{number: tournamentGroup.number}">
            <div>
                WINNER {{tournamentGroup.winner?.firstName}} {{tournamentGroup.winner?.lastName}}
            </div>

            <div>
                RUNNERUP {{tournamentGroup.runnerup?.firstName}} {{tournamentGroup.runnerup?.lastName}}
            </div>
            <div>
                <table>
                    <thead>
                        <th>Order</th>
                        <th>ID</th>
                        <th>Player</th>
                        <th>Association</th>
                        <th>Ranking</th>
                        <th>Points</th>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let player of selectedGroup?.players; let i = index">
                            <tr>
                                <td>{{i + 1}}</td>
                                <td>{{player.id}}</td>
                                <td>{{player.firstName}} {{player.lastName}}</td>
                                <td>{{player.club}}</td>
                                <td>{{player.ranking}}</td>
                                <td>{{player.points}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>

                <table>
                    <thead>
                        <th>Match</th>
                        <th>Order</th>
                        <th>Player</th>
                        <th *ngFor="let item of setArray">{{item}} Set</th>
                        <th>Winner</th>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let tm of getMatchOrder(tournamentGroup.players.length); let i = index; let odd = odd; let even = even">
                        <ng-container *ngIf="tournamentGroup.players[tm[0]-1] as player1">
                            <ng-container *ngIf="tournamentGroup.players[tm[1]-1] as player2">
                                <tr [ngClass]="{'match-row-even': even}">
                                    <td rowspan="2" [ngClass]="{'match-number-odd': odd,'match-number-even': even}">{{i + 1}}</td>
                                    <td>{{tm[0]}}</td>
                                    <td>{{player1.firstName}} {{player1.lastName}}</td>
                                    <td *ngFor="let item of setArray"><input id="{{tournamentGroup.number + '#' + i + '#' + item + '#' + player1.id}}" type="number" min="0" class="match-set-value" value="{{tournamentGroup.matches[i]?.points | matchResult:item-1:0}}" (change)="onInputChange($event)"/></td>
                                    <td rowspan="2" [ngClass]="{'match-number-odd': odd,'match-number-even': even}">
                                        <span *ngIf="tournamentGroup.matches[i]?.winner?.id == player1.id">{{tm[0]}}</span>
                                        <span *ngIf="tournamentGroup.matches[i]?.winner?.id == player2.id">{{tm[1]}}</span>
                                    </td>
                                </tr>
                                <tr [ngClass]="{'match-row-even': even}">
                                    <td>{{tm[1]}}</td>
                                    <td>{{player2.firstName}} {{player2.lastName}}</td>
                                    <td *ngFor="let item of setArray"><input id="{{tournamentGroup.number + '#' + i + '#' + item + '#' + player2.id}}" type="number" min="0" class="match-set-value" value="{{tournamentGroup.matches[i]?.points | matchResult:item-1:1}}" (change)="onInputChange($event)"/></td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    </tbody>
                </table>
            </div>
            <div>
                <button type="button" (click)="saveGroupChanges()" class="btn btn-success btn-s">
                    <span class="fa fa-floppy-o"></span> Guardar Cambios
                </button>
            </div>
        </md-tab>
        <md-tab [label]="'tournament.gameplan.brackettab' | translate">
            <div>
                <div id="finalBracket" finalBracket [initData]="initData" [tournament]="tournament" (notifyBracketError)="onNotifyBracketError($event)">Empty Final Bracket</div>
            </div>
        </md-tab>
    </md-tab-group>
</div>

<div *ngIf="!groupsAvailable && tournament.includeGroupPhase" id="empty-list-group" class="content scaffold-list" role="main">
    NO GROUPS AVAILABLE
</div>

<div *ngIf="!groupsAvailable && !tournament.includeGroupPhase" id="no-group-list" class="content scaffold-list" role="main">
    <md-tab-group [(selectedIndex)]="selectedTab" (selectChange)="viewContent($event)" >
        <md-tab [label]="'tournament.gameplan.players' | translate">
            <div>
                <ul class="list-group" dnd-sortable-container [sortableData]="tournamentPlayers">
                    <li *ngFor="let player of tournamentPlayers; let i = index" class="list-group-item"
                        dnd-sortable [sortableIndex]="i" [dragData]="player">{{player.firstName}} {{player.lastName}}</li>
                </ul>
            </div>
            <div>
                <button type="button" (click)="viewPlayersOrder()" class="btn btn-success btn-s">
                    <span class="fa fa-floppy-o"></span> View Player Order
                </button>
            </div>
        </md-tab>
        <md-tab [label]="'tournament.gameplan.brackettab' | translate">
            <div>
                <div id="finalBracket" finalBracket [initData]="initData" [tournament]="tournament" (notifyBracketError)="onNotifyBracketError($event)">Empty Final Bracket</div>
            </div>
        </md-tab>
    </md-tab-group>
</div>
