<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a class="list" [routerLink]="['/tournament', 'list']" class="list">Tournament List</a></li>
        <li><a class="create" [routerLink]="['/tournament', 'create']" class="create">New Tournament</a></li>
    </ul>
</div>
<div id="show-part" class="content scaffold-show" role="main">
    <h1>{{ 'tournament.show.title' | translate}}</h1>
    <a class="edit" [routerLink]="['/tournament', 'edit', tournament.id]">Edit</a>
    <button type="button" (click)="destroy()">Delete</button>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date</th>
            <th>Weight</th>
            <th>Gender Restricted</th>
            <th>Gender</th>
            <th>Federation</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span>{{tournament.id}}</span>
                </td>
                <td>
                    <span>{{tournament.name}}</span>
                </td>
                <td>
                    <span>{{tournament.date | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
                </td>
                <td>
                    <span *ngIf="tournament.weight">{{tournament.weight.name}}</span>
                </td>
                <td>
                    <span>{{tournament.genderRestricted}}</span>
                </td>
                <td>
                    <span>{{tournament.gender}}</span>
                </td>
                <td>
                    <a *ngIf="tournament.federation">{{tournament.federation.name}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="list-player" class="content scaffold-list" role="main">

    <md-tab-group (selectChange)="viewPlayerType($event)">
        <md-tab label="{{ 'tournament.show.players.title.signed' | translate}}"></md-tab>
        <md-tab label="{{ 'tournament.show.players.title.unsigned' | translate}}"></md-tab>
    </md-tab-group>

    <form (submit)="search(term.value)">
        <div class="input-group input-group-sm" style="margin-bottom: 10px;">
            <input #term (keyup)="search(term.value)" [value]="terms" class="form-control" placeholder="Search"
                   autofocus>
            <div class="input-group-btn">
                <button type="submit" class="btn btn btn-default btn-flat"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="input-group input-group-sm" style="margin-bottom: 10px;">
            <label for="selectedCategory">Filter by Category
            </label>
            <select (change)="categoryChanged()" name="selectedCategory" [(ngModel)]="selectedCategory" id="selectedCategory" >
                <option *ngFor="let category of categories | async" [ngValue]="category" [selected]="category.id == 1">{{category.name}}</option>
            </select>
        </div>
    </form>
    <h1>Player List ({{total | async}})</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Dni</th>
            <th>Club</th>
            <th>Birth</th>
        </tr>
        </thead>
        <tbody>
        <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let player of players | async; let e = even;">
            <td>
                <a [routerLink]="['/player','show',player.id]">{{player.id}}</a>
                <button (click)="signOffPlayer(player)" *ngIf="playerType == 0" type="button" class="btn btn-danger btn-s">
                    <span class="fa fa-user-times"></span> {{ "tournament.show.players.signoff.button" | translate }}
                </button>
                <button (click)="signUpPlayer(player)" *ngIf="playerType == 1" type="button" class="btn btn-success btn-s">
                    <span class="fa fa-user-plus"></span> {{ "tournament.show.players.signup.button" | translate }}
                </button>
            </td>
            <td>
                <span>{{player.firstName}}</span>
            </td>
            <td>
                <span>{{player.lastName}}</span>
            </td>
            <td>
                <span>{{player.email}}</span>
            </td>
            <td>
                <span>{{player.dni}}</span>
            </td>
            <td>
                <span>{{player.club}}</span>
            </td>
            <td>
                <span>{{player.birth | date:'yyyy-MM-dd'}}</span>
            </td>
        </tr>
        </tbody>
        <tfoot>
            <pagination [total]="total | async" [page]="page" (goTo)="goToPage($event)"></pagination>
        </tfoot>
    </table>
</div>
<div role="main">
    <button [disabled]="!gamePlanAvailable" (click)="goToGameplan()" *ngIf="playerType == 0" type="button" class="btn btn-success btn-s">
        <span class="fa fa-thumbs-o-up"></span> {{ "tournament.show.gameplan" | translate }}
    </button>
</div>
