<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/tournament','create']" class="create">New Tournament</a></li>
    </ul>
</div>
<div id="list-tournament" class="content scaffold-list" role="main">
    <h1>Tournament List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date</th>
      <th>Weight</th>
      <th>Gender Restricted</th>
      <th>Gender</th>
      <th>Federation</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let tournament of tournamentList; let e = even;">
      <td>
        <a [routerLink]="['/tournament','show',tournament.id]">{{tournament.id}}</a>
      </td>
      <td>
        <span>{{tournament.name}}</span>
      </td>
      <td>
        <span>{{tournament.date | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
      </td>
      <td>
        <span *ngIf="tournament.weight">{{tournament.weight.name}}</span>
      </td>
      <td>
        <span>{{tournament.genderRestricted}}</span>
      </td>
      <td>
        <span>{{tournament.gender}}</span>
      </td>
      <td>
        <a *ngIf="tournament.federation" [routerLink]="['/tournament','show', tournament.federation.id]">{{tournament.federation.name}}</a>
      </td>
    </tr>
  </tbody>
</table>
</div>