<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/player','list']" class="list">Player List</a></li>
    </ul>
</div>
<div id="persist-player" class="content scaffold-edit" role="main">
    <h1>{{create ? "Create" : "Edit"}} Player</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="First Name" required="" name="firstName" id="firstName" [(ngModel)]="player.firstName"/>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="Last Name" required="" name="lastName" id="lastName" [(ngModel)]="player.lastName"/>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="Email" required="" name="Email" id="Email" [(ngModel)]="player.email"/>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="Dni" required="" name="dni" id="dni" [(ngModel)]="player.dni"/>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="Club" required="" name="club" id="club" [(ngModel)]="player.club"/>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput required="" name="birth" id="birth" type="date" placeholder="MM-DD-YYYY" [ngModel]="player.birth | date:'y-MM-dd'" (ngModelChange)="player.birth = $event" />
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <label for="gender">Gender
                    <span class="required-indicator">*</span>
                </label>
                <select required="" name="gender" id="gender" [(ngModel)]="player.gender">
                    <option value="M">M</option>
                    <option value="F">F</option>
                </select>
            </div>
            <div *ngIf="showFederationSelect" class="fieldcontain required">
                <label for="federation">Federation
                    <span class="required-indicator">*</span>
                </label>
                <select required="" name="federation" id="federation" [(ngModel)]="selectedFederation">
                    <option [ngValue]="undefined" disabled> Select a Federation </option>
                    <option *ngFor="let fed of federationList" [ngValue]="fed">
                        {{fed.name}}
                    </option>
                </select>
            </div>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" class="save" [value]="create ? 'Save' : 'Update'" />
        </fieldset>
    </form>
</div>