<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/player','create']" class="create">New Player</a></li>
    </ul>
</div>
<div id="list-player" class="content scaffold-list" role="main">
    <form (submit)="search(term.value)">
        <div class="input-group input-group-sm" style="margin-bottom: 10px;">
            <input #term (keyup)="search(term.value)" [value]="terms" class="form-control" placeholder="Search"
                   autofocus>
            <div class="input-group-btn">
                <button type="submit" class="btn btn btn-default btn-flat"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
    <h1>Player List</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Dni</th>
            <th>Club</th>
            <th>Birth</th>
        </tr>
        </thead>
        <tbody>
        <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let player of players | async; let e = even;">
            <td>
                <a [routerLink]="['/player','show',player.id]">{{player.id}}</a>
            </td>
            <td>
                <span>{{player.firstName}}</span>
            </td>
            <td>
                <span>{{player.lastName}}</span>
            </td>
            <td>
                <span>{{player.email}}</span>
            </td>
            <td>
                <span>{{player.dni}}</span>
            </td>
            <td>
                <span>{{player.club}}</span>
            </td>
            <td>
                <span>{{player.birth | date:'yyyy-MM-dd'}}</span>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination [total]="total | async" [page]="page" (goTo)="goToPage($event)"></pagination>
</div>

<div class="navbar navbar-default">
    <div class="navbar-header">
        <h1 class="navbar-brand">Upload list of players</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-3">

        <h3>Select player list file</h3>

        <div class="dropzone"
             ng2FileDrop
             [uploader]="uploader"
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             (click)=fileInput.click()>
            <div>Drop or Click to select file</div>
            <input #fileInput type="file" ng2FileSelect [uploader]="uploader" [accept]="allowedMimeType.toString()">
        </div>
        <div *ngFor="let item of uploader.queue">
            <strong>{{ item?.file?.name }}</strong>
        </div>

        <div class="progress" style="">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>

        <button type="button" class="btn btn-success btn-s"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
            <span class="fa fa-upload"></span> Upload
        </button>
    </div>

</div>