.dropzone {
    cursor: pointer;
    background: #f8f8f8;
    height: 50px;
    margin: 5px;
    border: dotted 3px lightgray;
}
.dropzone:hover {
    border: dotted 3px green;
}

.dropzone input {
    display: none;
}