<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/player','list']" class="list">Player List</a></li>
    </ul>
</div>
<div id="persist-player" class="content scaffold-edit" role="main">
    <h1>{{create ? "Create" : "Edit"}} Player</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form #playerPersist="ngForm" name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="First Name" required="" name="firstName" id="firstName" [(ngModel)]="player.firstName"/>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="Last Name" required="" name="lastName" id="lastName" [(ngModel)]="player.lastName"/>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="Email" required="" name="Email" id="Email" [(ngModel)]="player.email"/>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="Dni" required="" name="dni" id="dni" [(ngModel)]="player.dni"/>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="Club" required="" name="club" id="club" [(ngModel)]="player.club"/>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput required name="birth" [matDatepicker]="picker" placeholder="Birth Date" [ngModel]="player.birth" (ngModelChange)="birthChanged($event)" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field floatPlaceholder="always">
                    <mat-select required placeholder="Select a Gender" [(ngModel)]="player.gender" name="gender">
                        <mat-option *ngFor="let gender of genderList" [value]="gender" >{{gender}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="showFederationSelect" class="fieldcontain required">
                <mat-form-field floatPlaceholder="always">
                    <mat-select required placeholder="Select a Federation" [(ngModel)]="player.federation" name="federation">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let federation of federationList" [value]="federation" >{{federation.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </fieldset>
        <fieldset class="buttons">
            <button mat-raised-button color="primary" [disabled]="!playerPersist.form.valid"><span translate>{{create ? 'general.forms.create' : 'general.forms.update'}}</span></button>
        </fieldset>
    </form>
</div>