<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/weight','create']" class="create">New Weight</a></li>
    </ul>
</div>
<div id="list-weight" class="content scaffold-list" role="main">
    <div>
        <mat-input-container floatPlaceholder="never">
            <input matInput #terms (keyup)="search(terms.value)" placeholder="Filter users">
        </mat-input-container>
    </div>

    <h1>Weight List ({{weightDatasource.total | async}})</h1>

    <mat-table #table [dataSource]="weightDatasource" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a [routerLink]="['/weight','show',row.id]">{{row.id}}</a>
            </mat-cell>
        </ng-container>

        <!-- Name -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Factor -->
        <ng-container matColumnDef="factor">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Factor </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.factor}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                  [length]="weightDatasource.total | async"
                  [pageIndex]="0"
                  [pageSize]="10"
                  [pageSizeOptions]="[10, 20, 30, 50, 100]">
    </mat-paginator>
</div>