<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/weight','list']" class="list">Weight List</a></li>
    </ul>
</div>
<div id="persist-weight" class="content scaffold-edit" role="main">
    <h1>{{create ? "Create" : "Edit"}} Weight</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form #weightPersist="ngForm" name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
            <fieldset class="form">
                <div class="fieldcontain required">
                    <mat-form-field>
                        <input matInput placeholder="Name" required="" name="name" id="name" [(ngModel)]="weight.name"/>
                    </mat-form-field>
                </div>
                <div class="fieldcontain required">
                    <mat-form-field>
                        <input matInput placeholder="Factor" required="" name="factor" id="factor" [(ngModel)]="weight.factor" type="number" step="any"/>
                    </mat-form-field>
                </div>
            </fieldset>
        </fieldset>
        <fieldset class="buttons">
            <button mat-raised-button color="primary" [disabled]="!weightPersist.form.valid"><span translate>{{create ? 'general.forms.create' : 'general.forms.update'}}</span></button>
        </fieldset>
    </form>
</div>