<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/weight','list']" class="list">Weight List</a></li>
    </ul>
</div>
<div id="persist-weight" class="content scaffold-edit" role="main">
    <h1>{{create ? "Create" : "Edit"}} Weight</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
            <fieldset class="form">
  <div class="fieldcontain required">
    <label for="name">Name
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="name" id="name" [(ngModel)]="weight.name" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="factor">Factor
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="factor" id="factor" [(ngModel)]="weight.factor" type="number" step="any" />
  </div>
</fieldset>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" class="save" [value]="create ? 'Save' : 'Update'" />
        </fieldset>
    </form>
</div>