<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/category','list']" class="list">Category List</a></li>
    </ul>
</div>
<div id="persist-category" class="content scaffold-edit" role="main">
    <h1>{{create ? "Create" : "Edit"}} Category</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
            <fieldset class="form">
                <div class="fieldcontain required">
                    <label for="name">Name
                        <span class="required-indicator">*</span>
                    </label>
                    <input required="" name="name" id="name" [(ngModel)]="category.name" type="text"/>
                </div>
                <div class="fieldcontain required">
                    <label for="minAge">Min Age
                        <span class="required-indicator">*</span>
                    </label>
                    <input required="" name="minAge" id="minAge" [(ngModel)]="category.minAge" type="number"/>
                </div>
                <div class="fieldcontain required">
                    <label for="maxAge">Max Age
                        <span class="required-indicator">*</span>
                    </label>
                    <input required="" name="maxAge" id="maxAge" [(ngModel)]="category.maxAge" type="number"/>
                </div>
                <div class="fieldcontain">
                    <label for="youthCategory">Youth Category</label>
                    <input name="youthCategory" id="youthCategory" [(ngModel)]="category.youthCategory" type="checkbox" />
                </div>
            </fieldset>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" class="save" [value]="create ? 'Save' : 'Update'"/>
        </fieldset>
    </form>
</div>