<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/category','create']" class="create">New Category</a></li>
    </ul>
</div>
<div id="list-category" class="content scaffold-list" role="main">
    <div>
        <mat-input-container floatPlaceholder="never">
            <input matInput [value]="terms" (keyup)="search($event.target.value)" placeholder="{{ 'general.messages.filter.list' | translate }}">
        </mat-input-container>
        <button (click)="clearFilterText()" type="button" class="btn btn-s">
            <span class="fa fa-times"></span> {{ "general.messages.filter.clear" | translate }}
        </button>
    </div>

    <h1>Category List ({{categoryDatasource.total | async}})</h1>

    <mat-table #table [dataSource]="categoryDatasource" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a [routerLink]="['/category','show',row.id]">{{row.id}}</a>
            </mat-cell>
        </ng-container>

        <!-- Name -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Min Age -->
        <ng-container matColumnDef="minAge">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Min Age </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.minAge}} </mat-cell>
        </ng-container>

        <!-- Max Age -->
        <ng-container matColumnDef="maxAge">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Max Age </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.maxAge}} </mat-cell>
        </ng-container>

        <!-- Youth Category -->
        <ng-container matColumnDef="youthCategory">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Youth Category </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.youthCategory}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                  [length]="categoryDatasource.total | async"
                  [pageIndex]="0"
                  [pageSize]="10"
                  [pageSizeOptions]="[10, 20, 30, 50, 100]">
    </mat-paginator>
</div>