<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/category','list']" class="list">Category List</a></li>
    </ul>
</div>
<div id="persist-category" class="content scaffold-edit" role="main">
    <h1>{{create ? "Create" : "Edit"}} Category</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form #categoryPersist="ngForm" name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
            <fieldset class="form">
                <div class="fieldcontain required">
                    <mat-form-field>
                        <input matInput placeholder="Name" required="" name="name" id="name" [(ngModel)]="category.name" type="text" />
                    </mat-form-field>
                </div>
                <div class="fieldcontain required">
                    <mat-form-field>
                        <input matInput placeholder="Minimum Age" required="" name="minAge" id="minAge" [(ngModel)]="category.minAge" type="number" />
                    </mat-form-field>
                </div>
                <div class="fieldcontain required">
                    <mat-form-field>
                        <input matInput placeholder="Maximum Age" required="" name="maxAge" id="maxAge" [(ngModel)]="category.maxAge" type="number" />
                    </mat-form-field>
                </div>
                <div class="fieldcontain">
                    <mat-checkbox name="youthCategory" [(ngModel)]="category.youthCategory">Youth Category</mat-checkbox>
                </div>
            </fieldset>
        </fieldset>
        <fieldset class="buttons">
            <button mat-raised-button color="primary" [disabled]="!categoryPersist.form.valid"><span translate>{{create ? 'general.forms.create' : 'general.forms.update'}}</span></button>
        </fieldset>
    </form>
</div>