<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/federation','list']" class="list">Federation List</a></li>
    </ul>
</div>
<div id="persist-federation" class="content scaffold-edit" role="main">
    <h1>{{create ? "Create" : "Edit"}} Federation</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form #federationPersist="ngForm" name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="Name" required="" name="name" id="name" [(ngModel)]="federation.name" type="text" />
                </mat-form-field>
            </div>
            <div class="fieldcontain">
                <mat-form-field floatPlaceholder="always">
                    <mat-select placeholder="Select a Logo" [(ngModel)]="federation.logo" name="logo">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let federationLogo of federationLogoList" [value]="federationLogo.id" >{{federationLogo.toString()}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="Description" name="description" id="description" [(ngModel)]="federation.description" type="text" />
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field floatPlaceholder="always">
                    <mat-select required placeholder="Select a Country" [(ngModel)]="federation.country" name="country">
                        <mat-option *ngFor="let country of countryList" [value]="country" >{{country.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </fieldset>
        <fieldset class="buttons">
            <button mat-raised-button color="primary" [disabled]="!federationPersist.form.valid"><span translate>{{create ? 'general.forms.create' : 'general.forms.update'}}</span></button>
        </fieldset>
    </form>
</div>