<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/federation','create']" class="create">New Federation</a></li>
    </ul>
</div>
<div id="list-federation" class="content scaffold-list" role="main">
  <div>
    <md-input-container floatPlaceholder="never">
      <input mdInput [value]="terms" (keyup)="search($event.target.value)" placeholder="{{ 'general.messages.filter.list' | translate }}">
    </md-input-container>
    <button (click)="clearFilterText()" type="button" class="btn btn-s">
      <span class="fa fa-times"></span> {{ "general.messages.filter.clear" | translate }}
    </button>
  </div>

  <h1>Federation List ({{federationDatasource.total | async}})</h1>

  <md-table #table [dataSource]="federationDatasource" mdSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container cdkColumnDef="id">
      <md-header-cell *cdkHeaderCellDef md-sort-header> ID </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <a [routerLink]="['/federation','show',row.id]">{{row.id}}</a>
      </md-cell>
    </ng-container>

    <!-- Name -->
    <ng-container cdkColumnDef="name">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>

    <!-- Logo -->
    <ng-container cdkColumnDef="logo">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Logo </md-header-cell>
      <md-cell *cdkCellDef="let row"> DISPLAY LOGO </md-cell>
    </ng-container>

    <!-- Description -->
    <ng-container cdkColumnDef="description">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Description </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.description}} </md-cell>
    </ng-container>

    <!-- Country -->
    <ng-container cdkColumnDef="country">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Country </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.country.name}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

  <md-paginator #paginator
                [length]="federationDatasource.total | async"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[10, 20, 30, 50, 100]">
  </md-paginator>
</div>