<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/country','list']" class="list">Country List</a></li>
    </ul>
</div>
<div id="persist-country" class="content scaffold-edit" role="main">
    <h1>{{create ? "Create" : "Edit"}} Country</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form #countryPersist="ngForm" (ngSubmit)="save()">
        <fieldset class="form">
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="ISO Code" required name="isoCode" id="isoCode" [(ngModel)]="country.isoCode" type="text" #isoCode="ngModel"/>
                </mat-form-field>
            </div>

            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="Name" required name="name" id="name" [(ngModel)]="country.name" type="text" #name="ngModel"/>
                </mat-form-field>
            </div>
        </fieldset>
        <fieldset class="buttons">
            <button mat-raised-button color="primary" [disabled]="!countryPersist.form.valid"><span translate>{{create ? 'general.forms.create' : 'general.forms.update'}}</span></button>
        </fieldset>
    </form>
</div>