<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">{{ 'general.labels.home' | translate }}</a></li>
        <li><a [routerLink]="['/country','create']" class="create">{{ 'country.create.new' | translate }}</a></li>
    </ul>
</div>
<div id="list-country" class="content scaffold-list" role="main">
    <div>
        <mat-input-container floatPlaceholder="never">
            <input matInput [value]="terms" (keyup)="search($event.target.value)" placeholder="{{ 'general.messages.filter.list' | translate }}">
        </mat-input-container>
        <button (click)="clearFilterText()" type="button" class="btn btn-s">
            <span class="fa fa-times"></span> {{ "general.messages.filter.clear" | translate }}
        </button>
    </div>

    <h1>{{ "country.list.title" | translate }} ({{countryDatasource.total | async}})</h1>

    <mat-table #table [dataSource]="countryDatasource" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'player.labels.id' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a [routerLink]="['/country','show',row.id]">{{row.id}}</a>
            </mat-cell>
        </ng-container>

        <!-- Name -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'player.labels.name' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- ISO Code -->
        <ng-container matColumnDef="isoCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'country.labels.isoCode' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.isoCode}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                  [length]="countryDatasource.total | async"
                  [pageIndex]="0"
                  [pageSize]="10"
                  [pageSizeOptions]="[10, 20, 30, 50, 100]">
    </mat-paginator>
</div>