<nav class="navbar navbar-toggleable-sm navbar-full navbar-inverse" style="background-color: #4D8618;">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navExpanded = !navExpanded" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/#">
    <i class="fa grails-icon">
      <img src="../../images/grails-cupsonly-logo-white.svg" />
    </i>&nbsp;Grails
  </a>
  <div class="collapse navbar-collapse " id="exCollapsingNavbar2" [ngbCollapse]="!navExpanded">
    <ul class="navbar-nav ml-auto">
      <li>
        <a class="nav-link" [routerLink]="['/player', 'ranking']">{{ 'general.nav.menu.rankings' | translate }}</a>
      </li>
      <li *ngIf="authService.isSuperAdmin()" class="nav-item" ngbDropdown>
        <a class="dropdown-toggle nav-link" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">{{ 'general.nav.menu.countries' | translate }}<span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/country']">{{ 'general.nav.items.list' | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/country', 'create']">{{ 'general.nav.items.createNew' | translate }}</a>
        </div>
      </li>
      <li *ngIf="authService.isSuperAdmin()" class="nav-item" ngbDropdown>
        <a class="dropdown-toggle nav-link" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">{{ 'general.nav.menu.federation' | translate }}<span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/federation']">{{ 'general.nav.items.list' | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/federation', 'create']">{{ 'general.nav.items.createNew' | translate }}</a>
        </div>
      </li>
      <li *ngIf="authService.isSuperAdmin()" class="nav-item" ngbDropdown>
        <a class="dropdown-toggle nav-link" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">{{ 'general.nav.menu.users' | translate }}<span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/user']">{{ 'general.nav.items.list' | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/user', 'create']">{{ 'general.nav.items.createNew' | translate }}</a>
        </div>
      </li>
      <li *ngIf="authService.isAuthenticated()" class="nav-item" ngbDropdown>
        <a class="dropdown-toggle nav-link" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">{{ 'general.nav.menu.players' | translate }}<span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/player']">{{ 'general.nav.items.list' | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/player', 'create']">{{ 'general.nav.items.createNew' | translate }}</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="dropdown-toggle nav-link" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">{{ 'general.nav.menu.tournament' | translate }}<span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/tournament']">{{ 'general.nav.items.list' | translate }}</a>
          <a *ngIf="authService.isAuthenticated()" class="dropdown-item" [routerLink]="['/tournament', 'create']">{{ 'general.nav.items.createNew' | translate }}</a>
        </div>
      </li>
      <li *ngIf="authService.isAuthenticated()" class="nav-item" ngbDropdown>
        <a class="dropdown-toggle nav-link" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">{{ 'general.nav.menu.pointsRange' | translate }}<span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/pointsRange']">{{ 'general.nav.items.list' | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/pointsRange', 'create']">{{ 'general.nav.items.createNew' | translate }}</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="dropdown-toggle nav-link" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">{{ 'general.nav.menu.appStatus' | translate }}<span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">{{ 'general.nav.items.environment' | translate }} {{applicationData?.environment}}</a>
          <a class="dropdown-item" href="#">{{ 'general.nav.items.appProfile' | translate }} {{applicationData?.appprofile}}</a>
          <a class="dropdown-item" href="#">{{ 'general.nav.items.appVersion' | translate }} {{applicationData?.appversion}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">{{ 'general.nav.items.grailsVersion' | translate }} {{applicationData?.grailsversion}}</a>
          <a class="dropdown-item" href="#">{{ 'general.nav.items.groovyVersion' | translate }} {{applicationData?.groovyversion}}</a>
          <a class="dropdown-item" href="#">{{ 'general.nav.items.jvmVersion' | translate }} {{applicationData?.jvmversion}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">{{ 'general.nav.items.reloadingActive' | translate }} {{applicationData?.reloadingagentenabled}}</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a href="#" class="dropdown-toggle nav-link" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">{{ 'general.nav.menu.artifacts' | translate }} <span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">{{ 'general.nav.items.controllers' | translate }} {{applicationData?.artefacts?.controllers}}</a>
          <a class="dropdown-item" href="#">{{ 'general.nav.items.domains' | translate }} {{applicationData?.artefacts?.domains}}</a>
          <a class="dropdown-item" href="#">{{ 'general.nav.items.services' | translate }} {{applicationData?.artefacts?.services}}</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a href="#" class="dropdown-toggle nav-link" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">{{ 'general.nav.menu.plugins' | translate }} <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#" *ngFor="let plugin of applicationData?.plugins">{{plugin.name}} - {{plugin.version}}</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="dropdown-toggle nav-link" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-{{ translateService.currentLang == 'en' ? 'us' : translateService.currentLang }}"></span><span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right country-selector">
          <a class="dropdown-item" *ngFor="let lang of translateService.getLangs()" (click)="translateService.use(lang)"><span class="flag-icon flag-icon-{{ lang == 'en' ? 'us' : lang }}"></span></a>
        </div>
      </li>
      <li *ngIf="!authService.isAuthenticated()">
        <a class="nav-link" (click)="login()">{{ 'login.login' | translate }}</a>
      </li>
      <li *ngIf="authService.isAuthenticated()">
        <a class="nav-link" [routerLink]="['/user','edit']">{{authService.currentUser.username}}</a>
      </li>
      <li *ngIf="authService.isAuthenticated()">
        <a class="nav-link" (click)="authService.logout()">{{ 'login.logout' | translate }}</a>
      </li>
    </ul>
  </div>
</nav>