<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/user','list']" class="list">User List</a></li>
    </ul>
</div>
<div id="persist-user" class="content scaffold-edit" role="main">
    <h1 translate>{{create ? 'user.create.title' : 'user.edit.title'}}</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
          <!--<div class="fieldcontain">-->
            <!--<label for="lastLoginDate">Last Login Date</label>-->
            <!--<input name="lastLoginDate" id="lastLoginDate" type="date" placeholder="YYYY-MM-DD" [value]="user.lastLoginDate | date:'y-MM-dd'" (change)="user.lastLoginDate = $event.target.valueAsDate" />-->
          <!--</div>-->
          <div class="fieldcontain required">
            <label for="email">Email
              <span class="required-indicator">*</span>
            </label>
            <input required="" name="email" id="email" [(ngModel)]="user.email" type="email" />
          </div>
          <!--<div class="fieldcontain required">-->
            <!--<label for="password">Password-->
              <!--<span class="required-indicator">*</span>-->
            <!--</label>-->
            <!--<input required="" name="password" id="password" [(ngModel)]="user.password" type="text" />-->
          <!--</div>-->
          <div class="fieldcontain required">
            <label for="firstName">First Name
              <span class="required-indicator">*</span>
            </label>
            <input required="" name="firstName" id="firstName" [(ngModel)]="user.firstName" type="text" />
          </div>
          <div class="fieldcontain required">
            <label for="lastName">Last Name
              <span class="required-indicator">*</span>
            </label>
            <input required="" name="lastName" id="lastName" [(ngModel)]="user.lastName" type="text" />
          </div>
          <div *ngIf="showFederationSelect" class="fieldcontain required">
            <label for="federation">Federation
              <span class="required-indicator">*</span>
            </label>
            <select required="" name="federation" id="federation" [(ngModel)]="user.federation">
              <option [ngValue]="undefined" disabled> Select a Federation </option>
              <option *ngFor="let federation of federationList" [ngValue]="federation" [selected]="user.federation?.id == federation.id">{{federation.name}}</option>
            </select>
          </div>

          <div class="fieldcontain">
            <label for="accountLocked">Account Locked</label>
            <input name="accountLocked" id="accountLocked" [(ngModel)]="user.accountLocked" type="checkbox" />
          </div>
          <div class="fieldcontain">
            <label for="accountExpired">Account Expired</label>
            <input name="accountExpired" id="accountExpired" [(ngModel)]="user.accountExpired" type="checkbox" />
          </div>
          <div class="fieldcontain">
            <label for="passwordExpired">Password Expired</label>
            <input name="passwordExpired" id="passwordExpired" [(ngModel)]="user.passwordExpired" type="checkbox" />
          </div>
          <div class="fieldcontain">
            <label for="enabled">Enabled</label>
            <input name="enabled" id="enabled" [(ngModel)]="user.enabled" type="checkbox" />
          </div>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" class="save" [value]="create ? 'Save' : 'Update'" />
        </fieldset>
    </form>
</div>