<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/user','list']" class="list">User List</a></li>
    </ul>
</div>
<div id="persist-user" class="content scaffold-edit" role="main">
    <h1 translate>{{create ? 'user.create.title' : 'user.edit.title'}}</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form #userPersist="ngForm" name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
          <!--<div class="fieldcontain">-->
            <!--<label for="lastLoginDate">Last Login Date</label>-->
            <!--<input name="lastLoginDate" id="lastLoginDate" type="date" placeholder="YYYY-MM-DD" [value]="user.lastLoginDate | date:'y-MM-dd'" (change)="user.lastLoginDate = $event.target.valueAsDate" />-->
          <!--</div>-->
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="Email" required="" name="email" id="email" [(ngModel)]="user.email" type="email" />
                </mat-form-field>
            </div>
          <!--<div class="fieldcontain required">-->
            <!--<label for="password">Password-->
              <!--<span class="required-indicator">*</span>-->
            <!--</label>-->
            <!--<input required="" name="password" id="password" [(ngModel)]="user.password" type="text" />-->
          <!--</div>-->
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="First Name" required="" name="firstName" id="firstName" [(ngModel)]="user.firstName" type="text" />
                </mat-form-field>
            </div>
            <div class="fieldcontain required">
                <mat-form-field>
                    <input matInput placeholder="Last Name" required="" name="lastName" id="lastName" [(ngModel)]="user.lastName" type="text" />
                </mat-form-field>
            </div>
          <div *ngIf="showFederationSelect" class="fieldcontain required">
            <mat-form-field floatPlaceholder="always">
              <mat-select placeholder="Select a Federation" [(ngModel)]="user.federation" name="federation">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let federation of federationList" [value]="federation" >{{federation.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="fieldcontain">
            <mat-checkbox name="accountLocked" [(ngModel)]="user.accountLocked">Account Locked</mat-checkbox>
          </div>
          <div class="fieldcontain">
            <mat-checkbox name="accountExpired" [(ngModel)]="user.accountExpired">Account Expired</mat-checkbox>
          </div>
          <div class="fieldcontain">
            <mat-checkbox name="passwordExpired" [(ngModel)]="user.passwordExpired">Password Expired</mat-checkbox>
          </div>
          <div class="fieldcontain">
            <mat-checkbox name="enabled" [(ngModel)]="user.enabled">Enabled</mat-checkbox>
          </div>
        </fieldset>
        <fieldset class="buttons">
            <button mat-raised-button color="primary" [disabled]="!userPersist.form.valid"><span translate>{{create ? 'general.forms.create' : 'general.forms.update'}}</span></button>
        </fieldset>
    </form>
</div>