<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a class="list" [routerLink]="['/user', 'list']" class="list">User List</a></li>
        <li><a class="create" [routerLink]="['/user', 'create']" class="create">New User</a></li>
    </ul>
</div>
<div id="show-part" class="content scaffold-show" role="main">
    <h1>Show User</h1>
    <ol class="property-list user">
      <li class="fieldcontain">
        <span id="firstName-label" class="property-label">First Name</span>
        <div class="property-value" aria-labelledby="firstName-label">
          <span>{{user.firstName}}</span>
        </div>
      </li>
      <li class="fieldcontain">
        <span id="lastName-label" class="property-label">Last Name</span>
        <div class="property-value" aria-labelledby="lastName-label">
          <span>{{user.lastName}}</span>
        </div>
      </li>
      <li class="fieldcontain">
        <span id="email-label" class="property-label">Email</span>
        <div class="property-value" aria-labelledby="email-label">
          <span>{{user.email}}</span>
        </div>
      </li>
      <!--<li class="fieldcontain">-->
        <!--<span id="password-label" class="property-label">Password</span>-->
        <!--<div class="property-value" aria-labelledby="password-label">-->
          <!--<span>{{user.password}}</span>-->
        <!--</div>-->
      <!--</li>-->
      <li class="fieldcontain">
        <span id="accountLocked-label" class="property-label">Account Locked</span>
        <div class="property-value" aria-labelledby="accountLocked-label">
          <span>{{user.accountLocked}}</span>
        </div>
      </li>
      <li class="fieldcontain">
        <span id="accountExpired-label" class="property-label">Account Expired</span>
        <div class="property-value" aria-labelledby="accountExpired-label">
          <span>{{user.accountExpired}}</span>
        </div>
      </li>
      <li class="fieldcontain">
        <span id="passwordExpired-label" class="property-label">Password Expired</span>
        <div class="property-value" aria-labelledby="passwordExpired-label">
          <span>{{user.passwordExpired}}</span>
        </div>
      </li>
      <li class="fieldcontain">
        <span id="enabled-label" class="property-label">Enabled</span>
        <div class="property-value" aria-labelledby="enabled-label">
          <span>{{user.enabled}}</span>
        </div>
      </li>
      <li class="fieldcontain">
        <span id="lastLoginDate-label" class="property-label">Last Login Date</span>
        <div class="property-value" aria-labelledby="lastLoginDate-label">
          <span>{{user.lastLoginDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
        </div>
      </li>
    </ol>

    <a class="edit" [routerLink]="['/user', 'edit', user.id]">Edit</a>
    <button type="button" (click)="destroy()">Delete</button>

</div>